.sing__button {
  text-decoration: none;
  background-color: #ffffff;
  color: #000;
  width: 358px;
  height: 50px;
  margin-top: 216px;
  margin-bottom: 29px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.sing__button:hover {
  cursor: pointer;
}
