@import url(./vendor/normalize.css);
@import url(./fonts/inter/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/content/content.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile-info/profile-info.css);
@import url(./blocks/profile-info/__container/profile-info__container.css);
@import url(./blocks/avatar/avatar.css);
@import url(./blocks/profile-info/__name/profile-info__name.css);
@import url(./blocks/profile-info/__activity/profile-info__activity.css);
@import url(./blocks/edit-button/edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/places/places.css);
@import url(./blocks/places/__container/places__container.css);
@import url(./blocks/place/__container/place__container.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__delete/place__delete.css);
@import url(./blocks/place/__group/place__group.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__like-container/place__like-container.css);
@import url(./blocks/place/__like/place__like.css);
@import url(./blocks/place/__like-counter/place__like-counter.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__photo-container/popup-photo-container.css);
@import url(./blocks/popup/__title-photo/popup__title-photo.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__profile/popup__profile.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/_photo/popup_photo.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/place/__like/_active/place__like_active.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/avatar/__hover/avatar__hover.css);
