.popup {
    visibility: hidden;
    display: flex;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    width: 100%;
    min-height: 100vh;    
    z-index: 2;
    margin: auto;
}